body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	overflow-x: hidden;
}

:root {
	--bg-color: #ffffff;
	--text-color: #213547;
	--heading-color: #2c3e50;
	--heading-color-bg: #ffffff;
	--border-color: #ddd;
	--table-header-bg: #f4f4f4;
	--table-row-bg: #f9f9f9;
	--table-row-alt-bg: #f2f2f2;
	--table-row-hover-bg: #e0e0e0;
	--input-bg-color: #f9f9f9;
	--input-border-color: #dcdcdc;
}

[data-theme="dark"] {
	--bg-color: #242424;
	--text-color: #ffffffde;
	--heading-color: #f39c12;
	--heading-color-bg: #1e1e1e;
	--border-color: #444;
	--table-header-bg: #151515;
	--table-row-bg: #2e2e2e;
	--table-row-alt-bg: #1e1e1e;
	--table-row-hover-bg: #444444;
	--input-bg-color: #2d3748;
	--input-border-color: #4a5568;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;

	color: var(--text-color);
	background-color: var(--bg-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1.2em;
	font-weight: 500;
	font-family: inherit;
	background-color: #0d6efd;
	cursor: pointer;
	transition: border-color 0.25s;
	margin: 10px;
	color: #ffffff;
}

button:focus,
button:focus-visible {
  	outline: 4px auto -webkit-focus-ring-color;
}

.taxInput {
	font-size: 1em;
  	padding: 15px;
  	margin: 20px;
	background-color: inherit;
	color: var(--text-color);
	border-color: var(--input-border-color);
}

.taxTable {
	font-size: 1em;
  	padding: 15px;
  	margin: 20px;
	border-collapse: collapse;
}

.taxTable > thead > tr > th, tbody > tr > th, td {
	border: 2px solid #ccc;
	padding: 15px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
