.content {
    padding: 1rem 2rem;
    flex: 1;
}

.home-coming {
    position: absolute;
    right: 2rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: inherit;
}